<% layout("/layout/boilerplate")%>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">add campground</a>
    <ul>
        <%for(let campground of campgrounds){%> 
            <div class="col-mid-8">
                <div class="card" style="width: 18rem;">
                    <img src="<%=campground.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%=campground.title%></h5>
                    <p class="card-text">
                        <small class="text-muted"><%=campground.location%></small>
                    </p>
                    <p class="card-text"><%=campground.description%></p>
                    <a class="btn btn-primary" href="campgrounds/<%=campground.id%>">view <%=campground.title%></a>
                    </div>
                </div>
            </div>
        <%}%>
    </ul>